<div id="content">
  <div class="logo-with-text">
    <img src="img/html5.png" id="html">
    <span class="skill-text">HTML5</span>
  </div>

  <div class="logo-with-text">
    <img src="img/css.png" id="css">
    <span class="skill-text">CSS3</span>
  </div>

  <div class="logo-with-text">
    <img src="img/js.png" id="js">
    <span class="skill-text">JavaScript</span>
  </div>

  <div class="logo-with-text">
    <img src="img/jquery.png" id="jquery">
    <span class="skill-text">jQuery</span>
  </div>

  <div class="logo-with-text">
    <img src="img/angularjs.png">
    <span class="skill-text">AngularJS</span>
  </div>

  <div class="logo-with-text">
    <img src="img/emberjs.png">
    <span class="skill-text">EmberJS</span>
  </div>

  <div class="logo-with-text">
    <img src="img/ruby-on-rails.png">
    <span class="skill-text">Ruby on Rails</span>
  </div>

  <div class="logo-with-text">
    <img src="img/mysql.png" id="mysql">
    <span class="skill-text">MySQL</span>
  </div>

  <div class="logo-with-text">
    <img src="img/postgresql.png">
    <span class="skill-text">PostgreSQL</span>
  </div>
</div>
