<div id="content">
  <div id="about">
    <h3>About me:</h3>
    <p>I have a great desire for learning and creating. The web development industry suits me well because of this.
      My other interests include botany, photography, and traveling to far flung places with my family.
      My ultimate goal is to make useful creative things that people will enjoy and pay for.</p>
  </div>
</div>
