<div id="content">
  <div class="contact-info">
    Phone: <a href="tel:+15125676637">(512) 567-6637</a>
  </div>
  <div class="contact-info">
    Email: <a href="mailto:joshuaatteberry@gmail.com">joshuaatteberry@gmail.com</a>
  </div>
</div>
